<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watching {{ anime_title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>{{ anime_title }}</h1>
        <h2>Select Episode:</h2>
        <ul>
            {% for ep in episodes %}
            <li><a href="{{ ep.url }}">Episode {{ ep.ep_number }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
